#story {
  section {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .video-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(rgba(22, 45, 30, 0.7), rgba(22, 45, 30, 0.7));
    // z-index: 1;
  }
  .section-1::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(#162d1eb3, #162d1eb3),
      url("./../../assets/backgrounds/2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateZ(-1px) scale(1.5);
    z-index: -1;
  }
  .section-1 {
    h1 {
      font-family: "Bacasime Antique", serif;
    }
  }
}
