/* .parent {
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow-y: scroll;
}

.custom-section {
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
} */

.custom-section {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /*  */
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 32px 0 32px;
  /*  */
  font-family: "Bacasime Antique", serif;
}

.sub-section-1 {
  background-image: linear-gradient(#162d1eb3, #162d1eb3),
    url("./../../../assets/backgrounds/5.jpg");
}

.sub-section-2 {
  background-image: linear-gradient(#162d1eb3, #162d1eb3),
    url("./../../../assets/backgrounds/2.jpg");
}
.sub-section-3 {
  background-image: linear-gradient(#162d1eb3, #162d1eb3),
    url("./../../../assets/backgrounds/3.jpg");
}
.sub-section-4 {
  background-image: linear-gradient(#162d1eb3, #162d1eb3),
    url("./../../../assets/backgrounds/4.jpg");
}

.section-5 {
  scroll-snap-align: none;
}
.sub-section-5 {
  background-image: linear-gradient(
      rgba(22, 45, 30, 0.7),
      rgba(22, 45, 30, 0.7)
    ),
    url("./../../../assets/backgrounds/7.png");
}
