@import url("https://fonts.googleapis.com/css2?family=Bacasime+Antique&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
html,
body {
  background-color: #132821;
}
footer {
  font-family: "Bacasime Antique", serif;
}

.playfair-display {
  font-family: "Playfair Display", serif;
}

* {
  font-family: "Bacasime Antique", serif;
  padding: 0;
  margin-top: 0;
  /* border: 1px solid red !important; */
}
::-webkit-scrollbar {
  width: 0 !important;
}
